{% extends 'base.html.twig' %}

{% block title %}Crédits
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Crédits</h1>
		<div class="conteneurTransparent">
			Un grand merci à tous ceux qui ont contribué à la réalisation de ce site web. 
            Votre expertise et votre dévouement ont été essentiels pour créer cette expérience 
            en ligne exceptionnelle. Nous tenons également à remercier nos partenaires, 
            fournisseurs et précieux clients pour leur soutien continu. Votre confiance nous 
            inspire à poursuivre notre engagement envers l'excellence. Merci à tous ! L'équipe 
            de [nom de l'entreprise].
		</div>
        <div class="conteneurTransparent mt-4">
        Photos : <a href="https://www.pexels.com/fr-fr/">Pexels</a>
        </div>
	</div>
{% endblock %}
