<div class="row">
	<a class="btn btnNavbar" href="#">Réserver</a>
</div>
<div class="row mt-4">
	<div class="conteneurTransparent">
		<h2>A propos</h2>
		<p>
			Découvrez Le Quai Antique, le nouveau restaurant du Chef Arnaud Michant à Chambéry, 
						            dédié à la cuisine savoyarde. Une expérience gastronomique sans artifice, mettant en valeur 
						            les produits locaux et le savoir-faire des producteurs de la Savoie. Plongez dans l'univers 
						            culinaire du Chef Michant et réservez dès maintenant votre table pour un voyage culinaire inoubliable.
		</p>
	</div>
</div>
