{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Politique de confidentialité</h1>
		<div class="conteneurTransparent">
			<p>
				Chez Le Quai Antique, nous accordons une grande importance à la confidentialité et à la 
				            sécurité des informations personnelles de nos visiteurs. Cette politique de confidentialité 
				            explique comment nous recueillons, utilisons et protégeons les données que vous nous fournissez 
				            lors de votre visite sur notre site web.</p>
			<h3>Collecte d'informations personnelles :</h3>
			<p>Lorsque vous utilisez notre site web, il est possible que nous vous demandions de fournir 
				            certaines informations personnelles telles que votre nom, votre adresse e-mail et vos allergies 
				            alimentaires. Ces informations sont collectées de manière volontaire et avec votre consentement 
				            dans le but de vous offrir un service personnalisé et de répondre à vos besoins spécifiques.</p>
			<h3>Utilisation des informations :</h3>
			<p>Les informations personnelles que vous nous fournissez seront utilisées uniquement dans le 
				            cadre des services que vous avez demandés, tels que la réservation d'une table ou la demande 
				            d'informations supplémentaires. Nous pouvons également utiliser ces informations pour vous 
				            envoyer des communications relatives à nos offres spéciales, à condition que vous ayez donné 
				            votre consentement préalable.</p>
			<h3>Protection des informations :</h3>
			<p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations 
				            personnelles contre tout accès non autorisé, toute divulgation ou toute utilisation abusive. 
				            Nous utilisons des protocoles de sécurité standard pour garantir la sécurité des données 
				            transmises via notre site web.</p>
			<h3>Divulgation à des tiers :</h3>
			<p>Nous ne vendons, ne louons ni ne divulguons vos informations personnelles à des tiers, 
				            sauf si cela est légalement requis ou si vous avez donné votre consentement explicite pour le faire. 
				            Nous pouvons toutefois partager vos informations avec des prestataires de services tiers qui nous 
				            aident à exploiter notre site web et à vous fournir les services demandés.</p>
			<h3>Conservation des données :</h3>
			<p>Nous ne conservons vos informations personnelles que pendant la durée nécessaire pour atteindre 
				            les objectifs pour lesquels elles ont été collectées, sauf si la loi l'exige autrement. Une fois 
				            que vos informations ne sont plus nécessaires, nous les effaçons de manière sécurisée.</p>
			<h3>Cookies :</h3>
			<p>Notre site web utilise des cookies pour améliorer votre expérience de navigation. 
				            Ces petits fichiers stockent des informations sur vos préférences et habitudes de navigation, 
				            mais ne contiennent aucune donnée personnelle identifiable.</p>
			<h3>Modifications de la politique de confidentialité :</h3>
			<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. 
				            Les changements apportés seront publiés sur cette page, et nous vous encourageons à la consulter 
				            régulièrement pour rester informé.</p>
			<h3>Contact :</h3>
			<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, 
				            n'hésitez pas à nous contacter à l'adresse suivante : admin@quaiantique.fr.</p>
			<p>En utilisant notre site web, vous acceptez les termes de cette politique de confidentialité.</p>
		</div>
	</div>
{% endblock %}
