<!-- Footer -->
<footer
	class="pied-de-page d-none d-lg-inline">
	<!-- Copyright -->
	<div class="row bgFooter">
		<div class="col-4 text-center">
			<div class="row">
				<a class="link-footer" href="#">Mentions légales</a>
			</div>
			<div class="row">
				<a class="link-footer" href="#">Politique de Confidentialité</a>
			</div>
			<div class="row">
				<a class="link-footer" href="#">Crédits</a>
			</div>
		</div>
		<div class="col-4 d-flex align-items-center justify-content-center">
			&copy; Quai Antique 2023
		</div>
		<div class="col-4 d-flex align-items-center justify-content-center"></div>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
