@import "node_modules/bootstrap/scss/bootstrap";
//Font
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//Couleurs
$jet: #333333;
$safron: #f2c63d;
$jasper: #d44638;
$tiffanyBlue: #8bcbce;
$quinacridoneMagenta: #7a3f54;

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: $safron;
  background-color: $quinacridoneMagenta;
}

div#offcanvasNavbar {
  background-color: $jet;
}

.navbar {
  background-color: $jet;
}

.btnNavbar {
  width: 100%;
  background-color: $jet;
  border: 2px solid $safron;
  color: $safron;
  margin-top: 5%;
}

.btnNavbar:hover {
  background-color: $safron;
  color: $jet;
  border: 2px solid $jet;
}

.navbar-toggler {
  border-color: $safron;
  border-width: 2px;
}

.navbar-brand {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
  color: $safron;
}

.nav-link {
  color: $safron;
}

.nav-link:hover {
  color: $jasper;
}

h1,
h2,
h3,
h4{
  font-family: "Abril Fatface", serif;
}

h5{
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: $safron;
}


label {
  margin: 0 15px 0 5px;
}
.conteneur-page {
  position: relative;
  min-height: 100vh;
}

.conteneurTransparent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

a{
  color: $tiffanyBlue;
  text-decoration: none;
}

a:hover{
  color: $jet;
}

#quaiAntiqueCaroussel{
  width: 50%;
  margin: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: block;
}

@media (min-width: 992px) {
  .carousel-item img {
    width: auto;
    height: 500px;
  }

  .carousel-caption {
    display:none;
  }

  .carousel-item:hover .carousel-caption {
    display: block;
  }
  

  li.nav-item.hiddenLi {
    display: none;
  }
  .footer {
    background-color: $jet;
    color: $safron;
  }
  .btnNavbar {
    margin-top: auto;
  }
  .nav-item {
    margin-right: 10px;
  }

  .link-footer {
    color: $safron;
    text-decoration: none;
  }
  .link-footer:hover {
    color: $jasper;
  }
}
