{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Mentions légales</h1>
		<div class="conteneurTransparent">
			<p>Le présent site web est la propriété de Le Quai Antique.</p>

			<p>Raison sociale : Le Quai Antique<br>
				Siège social : [adresse du siège social]<br>
				Numéro de téléphone : [numéro de téléphone]<br>
				Adresse e-mail : [adresse e-mail]<br>
				Numéro d'identification : [numéro d'identification]</p>

			<p>Directeur de la publication : [nom du directeur de la publication]</p>
			<p></p>
			<p>Hébergeur du site :<br>
				[Nom de l'hébergeur]<br>
				[Adresse de l'hébergeur]<br>
				[Téléphone de l'hébergeur]<br>
				[E-mail de l'hébergeur]</p>

			<h3>Propriété intellectuelle :</h3>
			<p>Tous les éléments présents sur ce site (textes, images, logos, vidéos, etc.) sont protégés par les lois relatives à la propriété intellectuelle. Toute reproduction, distribution, modification ou utilisation de ces éléments sans autorisation préalable écrite de Le Quai Antique est strictement interdite.</p>

			<h3>Liens vers des sites tiers :</h3>
			<p>Le site peut contenir des liens vers des sites web de tiers. Le Quai Antique n'exerce aucun contrôle sur le contenu de ces sites et décline toute responsabilité quant à leur contenu, leur exactitude ou leur disponibilité. L'insertion de ces liens n'implique en aucun cas une approbation ou une affiliation avec les sites tiers.</p>

			<h3>Collecte et traitement des données personnelles :</h3>
			<p>Le Quai Antique s'engage à protéger la confidentialité des données personnelles collectées sur le site conformément à sa politique de confidentialité. En utilisant ce site, vous consentez à la collecte et au traitement de vos données personnelles dans les conditions énoncées dans ladite politique de confidentialité.</p>

			<h3>Limitation de responsabilité :</h3>
			<p>Le Quai Antique met tout en œuvre pour s'assurer de l'exactitude et de la mise à jour des informations présentes sur le site. Cependant, nous déclinons toute responsabilité quant aux éventuelles erreurs, inexactitudes ou omissions pouvant survenir. Nous nous réservons également le droit de modifier, de supprimer ou de mettre à jour le contenu du site à tout moment, sans préavis.</p>

			<h3>Loi applicable et juridiction compétente :</h3>
			<p>Tout litige relatif à l'utilisation du site web de Le Quai Antique est soumis à la loi applicable du pays dans lequel se trouve le siège social de l'entreprise. Les tribunaux compétents de cette juridiction seront exclusivement compétents pour régler ces litiges.</p>

			<p>Pour toute question ou demande d'information concernant les mentions légales, veuillez nous contacter à l'adresse suivante : [adresse e-mail/contact].</p>

			<p>Dernière mise à jour : [date de la dernière mise à jour des mentions légales]</p>
		</div>
	</div>
{% endblock %}
